include LICENSE
include README.rst
include CHANGES.rst
include pyproject.toml

include transformations/py.typed
include transformations/transformations.c

include .github/workflows/wheel.yml

exclude .env
exclude *.cmd
exclude *.yaml
exclude mypy.ini
exclude ruff.toml
recursive-exclude doc *
recursive-exclude docs *
recursive-exclude test *
recursive-exclude tests *

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude * *Copy*
recursive-exclude * *-
recursive-exclude * *.html
