name: Build wheels

on:
  workflow_dispatch:

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, windows-latest]
    steps:
      - uses: actions/checkout@v6
      - uses: pypa/cibuildwheel@v3.3.1
        env:
          # CIBW_ENVIRONMENT: "PIP_PRE=1"
          CIBW_BUILD_VERBOSITY: 2
          CIBW_SKIP: "cp38* cp39* cp310* *musllinux* *i686 *ppc64le *s390x"
          # CIBW_ARCHS_LINUX: auto aarch64
          CIBW_ARCHS_LINUX: auto
          CIBW_ARCHS_MACOS: x86_64 arm64
          CIBW_ARCHS_WINDOWS: AMD64 ARM64 x86
          CIBW_TEST_REQUIRES: numpy pytest
          CIBW_TEST_COMMAND: python -m pytest --doctest-modules --pyargs transformations
      - uses: actions/upload-artifact@v6
        with:
          path: ./wheelhouse/*.whl
          name: wheels-${{ matrix.os }}
